:root{
    --text-green: #00D9A6;
    --text-gray-1: #000000B3;
    --text-gray-2: #70707059;
    --text-gray-3: #E5E3DF;
    --bg-gray-1: #f5f5f5;

    // gradient 
    --gradient-black: linear-gradient(270deg, rgba(0,12,11,1) 32%, rgba(51,51,51,1) 89%);
    --gradient-green: linear-gradient(270deg, rgba(167,195,34,1) 17%, rgba(45,253,128,1) 85%);
}